<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>WeekendPicture - Who</title>
        <link rel="stylesheet" href="~/../../obj/css/bootstrap-4.4.1/bootstrap.css" />
        <link rel="stylesheet" href="~/../../obj/css/bootstrap-4.4.1/bootstrap-grid.css" />
        <link rel="stylesheet" href="../obj/css/menumain.css" />
        <style type="text/css">
            body {
                background-color: black;
                color: white;
            }
            .dropbtn {
                background-color: black;
            }
        </style>
        <!--<script type="text/javascript"></script>-->
    </head>
    <body>
        <br />
        <div class="container">
            <header>
                <h1>Who Am I?</h1>
            </header>
            <br />
            <div class="row">
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-4">
                    <div class="menu">
                        <div class="dropdown col-sm-3">
                            <button class="dropbtn" onclick="window.location.href='http://weekendpictures.com'">Home</button>
                        </div>
                        <div class="dropdown col-sm-3">
                            <button class="dropbtn">About</button>
                            <div class="dropdown-content">
                                <a href="~/../view/whoami.html">Who?</a>
                                <a href="~/../view/whywp.html">Why?</a>
                                <a href="#">What?</a>
                            </div>
                        </div>
                        <div class="dropdown col-sm-3">
                            <button class="dropbtn">Apps</button>
                            <div class="dropdown-content">
                                <a href="#">Delivery Driver Calculator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/../../obj/img/JG_1.JPG" style="height: 500px;" />
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-5" style="font-size: 14px;">
                    <p>My name is Vladimir Joseph Gonzales. I graduated from DeVry University in 2005 with a Bachelor of Science degree in Computer Information Systems. Immediately after graduation, I began my career as a Software Developer, gaining experience across various industries. Over the past 20+ years, I have specialized in the Microsoft .NET Framework, working with languages such as C#, VB.NET, JavaScript, jQuery, and managing Microsoft SQL databases.</p> 
                    <p>Around 2010, I developed a curiosity and passion for the film arts. A friend of mine was seeking Production Assistants, and I volunteered to help. This experience allowed me to work closely with industry professionals, enabling me to rapidly advance through different roles—starting as a PA, then moving to Gaffer, Sound Technician, and eventually Camera Assistant. It was during this journey that I fell in love with cinematography.</p>
                    <p>Balancing my full-time career as a Software Developer, I pursued my passion on the side—purchasing my own equipment and founding my company, <a href="../view/whywp.html">Weekend Pictures</a>. Over time, I built a network of talented collaborators, worked on various film sets, and even earned my own <a href="https://www.imdb.com/name/nm5167513/" target="_blank">IMDB</a> profile. This dual path has allowed me to combine technical expertise with creative expression, enriching my journey in both fields.</p>
                    </p>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </body>
</html>