body {
    background-image: url("../img/pexels-souvenirpixels-1519088.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    color: yellow; 
    position: absolute; 
    top: 325px; 
    left: 200px;
}

.menu {
    position: absolute; 
    top: 130px; 
    left: 75px;
}

.header { 
    position: relative; 

}